#logo-eib{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 488px;
  left: 488px;
  position: absolute;
}

#logo-uti{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 310px;
  left: 330px;
  position: absolute;
}

#logo-upm{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 715px;
  left: 323px;
  position: absolute;
}


#logo-kul{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 462px;
  left: 445px;
  position: absolute;
}

#logo-uog{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 385px;
  left: 480px;
  position: absolute;
}

#logo-ssa{
  border: 0px;
  height: 20px;
  width: 20px;
  top: 633px;
  left: 578px;
  position: absolute;
}
